$jb-primary-color: #00E5FF !default;
$jb-primary-active-color: #00B8D4 !default;

$jb-error-color: #F44336 !default;

$jb-light-grey-color: #EEEEEE !default;
$jb-grey-color: #BDBDBD !default;
$jb-dark-grey-color: #757575 !default;

$jb-theme-dark-background-focus: rgba(255,255,255, 0.2);
$jb-theme-dark-ripple-color: #FFF;
$jb-theme-dark-color: #FFF;
$jb-theme-dark-disabled-color: rgba(255,255,255, 0.3);
$jb-theme-dark-disabled-background: rgba(255,255,255, 0.15);