@import '../_defaults.scss';

$nx-textbox-active-color: $nx-primary !default;
$nx-textbox-label-color: $nx-dark-grey-color !default;
$nx-textbox-error: $nx-danger !default;
$nx-textbox-color: #1E1E1E !default;
$nx-textbox-transition-ease: ease-in-out !default;
$nx-textbox-transition-duration: 250ms !default;

$marginUnfocused: -1px;
$borderUnfocused: $nx-textbox-label-color solid 1px;
$borderError: $nx-textbox-error solid 2px;
$labelTextSize: .85em;
$helperTextSize: .75em;
$labelTopFocused: -16px;

@mixin getBorder($color) {
    border-bottom: $color solid 2px;
}

@mixin placeholderOpacity($opacity) {
    &:-moz-placeholder {opacity: $opacity}
    &:-ms-input-placeholder  {opacity: $opacity}
    &::-webkit-input-placeholder {opacity: $opacity}
    &::-moz-placeholder {opacity: $opacity}
    &::placeholder  {opacity: $opacity}
}

@mixin placeholderTransition($transition) {
    &:-moz-placeholder {@include transition($transition);}
    &:-ms-input-placeholder  {@include transition($transition);}
    &::-webkit-input-placeholder {@include transition($transition);}
    &::-moz-placeholder {@include transition($transition);}
    &::placeholder  {@include transition($transition);}
}

nx-textbox {
    display: block;
    position: relative;
    margin: 32px 8px 8px 8px;

    nx-error {
        display: none;
    }

    nx-helper {
        display: block;
        padding-top: 8px;
        color: $nx-textbox-label-color;
        font-size: $helperTextSize;
    }

    

    input {
        border: none;
        background: transparent;
        border-bottom: $borderUnfocused;
        margin-bottom: $marginUnfocused;
        outline: none;
        padding-bottom: 8px;
        color: $nx-textbox-color;
        @include placeholderOpacity(0);
        @include placeholderTransition(opacity $nx-textbox-transition-duration $nx-textbox-transition-ease);
    }

    .nx-input-border-bottom {
        display: inline-block;
        &:after {
            display: block;
            content: '';
            @include transform(scaleX(0));
            @include transition(transform $nx-textbox-transition-duration $nx-textbox-transition-ease);
            @include getBorder($nx-primary);
        }
    }

    label {
        color: $nx-textbox-label-color;
        position: absolute;
        left: 0px;
        top: 0px;
        font-size: 1em;
        @include transition(all $nx-textbox-transition-duration $nx-textbox-transition-ease);
        cursor: text;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
    }

    &.nx-has-value {
        label {
            top: $labelTopFocused;
            font-size: $labelTextSize;
        }
    }

    &.nx-input-focused {
        input {
            @include placeholderOpacity(1);
        }

        label {
            top: $labelTopFocused;
            font-size: $labelTextSize;
            color: $nx-textbox-active-color;
        }

        &.nx-input-error {
            label {
                color: $nx-textbox-error;
            }
        }

        .nx-input-border-bottom {
            &:after, &:before {
                @include transform(scaleX(1));
            }
        }
    }

    &.nx-input-error {
        .nx-input-border-bottom:after {
            @include getBorder($nx-textbox-error);
            @include transform(scaleX(1));
        }

        nx-helper {
            color: $nx-textbox-error;
        }
    }
}

.nx-dark {
    nx-textbox {
        input {
            color: $nx-light-grey-color;
        }
    }
}