@import "../_defaults.scss";

$nx-tooltip-default-background: #E0E0E0;
$nx-tooltip-transition: visibility 0.3s linear, opacity 0.3s linear;

@mixin tooltipColor($color, $background) {
    .nx-tooltip-text {
        color: $color;
        background-color: $background;
    }

    &.nx-tooltip-top .nx-tooltip-pointer::before {
        border-top-color: $background;
    }

    &.nx-tooltip-right .nx-tooltip-pointer::before {
        border-right-color: $background;
    }

    &.nx-tooltip-bottom .nx-tooltip-pointer::before {
        border-bottom-color: $background;
    }

    &.nx-tooltip-left .nx-tooltip-pointer::before {
        border-left-color: $background;
    }
}

.nx-tooltip {
    max-width: 200px;
    position: absolute;
    visibility: hidden;
    opacity: 0;
    transition: $nx-tooltip-transition;

    .nx-tooltip-pointer {
        position: absolute;
        display: block;

        &::before {
            position: absolute;
            content: "";
            border-color: transparent;
            border-style: solid;
        }
    }

    &.nx-tooltip-top .nx-tooltip-pointer {
        bottom: 0;
        left: 50%;
        transform: translateX(-50%);
        width: 1em;
        height: .5em;
        overflow: hidden;
        &::before {
            border-width: .5em;
        }
    }

    &.nx-tooltip-right .nx-tooltip-pointer {
        top: 50%;
        left: 0;
        transform: translateY(-50%);
        width: .5em;
        height: 1em;
        overflow: hidden;
        &::before {
            border-width: .5em;
            margin-left: -.5em;
        }
    }

    &.nx-tooltip-bottom .nx-tooltip-pointer {
        top: 0;
        left: 50%;
        transform: translateX(-50%);
        width: 1em;
        height: .5em;
        overflow: hidden;
        &::before {
            border-width: 0 .5em .5em;
        }
    }

    &.nx-tooltip-left .nx-tooltip-pointer {
        top: 50%;
        right: 0;
        transform: translateY(-50%);
        width: .5em;
        height: 1em;
        overflow: hidden;
        &::before {
            border-width: .5em;
            margin-right: -.5em;
        }
    }

    .nx-tooltip-text {
        border-radius: 3px;
        padding: 7px;
        font-size: .8em;
        text-align: center;
        margin:.6em;
    }

    &.nx-default {
        @include tooltipColor($nx-default-color, $nx-tooltip-default-background);
    }
    
    &.nx-primary {
        @include tooltipColor($nx-primary-color, $nx-primary-background);
    }
    
    &.nx-warn {
        @include tooltipColor($nx-warn-color, $nx-warn-background);
    }
    
    &.nx-danger {
        @include tooltipColor($nx-danger-color, $nx-danger-background);
    }
}