@import '../_defaults.scss';

nx-progress-bar {
    width: 100%;
    .nx-progress-bar-wrapper {
        border-radius: 3px;
        width:100%;
        height: 25px;
        box-shadow: 0px 2px 5px 0 rgba(0, 0, 0, 0.4);
        overflow-x: hidden;
        overflow-y: hidden;
        position: relative;

        .nx-progress-bar-text {
            width: 100%;
            position: absolute;
            left: 50%;
            transform: translate(-50%, -50%);
            text-align: center;
            color: $nx-default-color;
            font-size: .85em;
            vertical-align: middle;
            top: 50%;
        }

        .nx-progress-bar-bg {
            background-color: $nx-primary;
            width: 0%;
            height: 100%;
            transition: width .5s ease;
        }
    }

    &[nx-primary] {
        .nx-progress-bar-bg {
            background-color: $nx-primary;
        }
    }

    &[nx-warn] {
        .nx-progress-bar-bg {
            background-color: $nx-warn;
        }
    }

    &[nx-danger] {
        .nx-progress-bar-bg {
            background-color: $nx-danger;
        }
    }
}