@import '../_defaults.scss';

$nx-button-raised-disabled-background: rgba(0, 0, 0, 0.12) !default;
$nx-button-raised-disabled-color: rgba(0, 0, 0, 0.3) !default;

$nx-button-flat-disabled-color: rgba(0, 0, 0, 0.3) !default;
$nx-button-flat-active-background: $nx-light-grey-color !default;
$nx-button-flat-ripple-color: $nx-dark-grey-color !default;

$nx-theme-dark-button-flat-active-background: rgba(255, 255, 255, 0.15);
$nx-theme-dark-button-flat-ripple-color: rgba(255, 255, 255, 0.25);

$nx-button-min-width: 88px;

$nx-button-transition-background: background 250ms ease-in-out;

[nx-button] {
    padding-left: 16px;
    padding-right: 16px;
    border: none;
    height: 36px;
    font-size: 14px;
    margin: 8px;
    text-transform: uppercase;

    &:hover {
        cursor: pointer;
        &[disabled] {
            cursor: not-allowed;
        }
    }

    &:active, &:focus {
        outline: none;
    }

    &[nx-button="flat"] {
        min-width: $nx-button-min-width;
        background-color: transparent;
        color: $nx-default-color;
        border-radius: 2px;
        @include transition($nx-button-transition-background);

        &:hover:not([disabled]) {
            background-color: $nx-button-flat-active-background;
        }

        &.nx-button-focus {
            background-color: $nx-button-flat-active-background;
        }

        &[disabled], &:disabled {
            color: $nx-button-flat-disabled-color;
        }

        .nx-ripple {
            background-color: $nx-button-flat-ripple-color;
        }

        &.nx-primary {
            color: $nx-primary
        }

        &.nx-warn {
            color: $nx-warn;
        }

        &.nx-danger {
            color: $nx-danger;
        }
    }

    &[nx-button="raised"], &[nx-button="fab"], &[nx-button=""] {
        box-shadow: 0px 2px 5px 0 $nx-shadow-color;
        min-width: $nx-button-min-width;
        border-radius: 2px;
        background-color: $nx-default-background;
        color: $nx-default-color;
        @include transition($nx-button-transition-background, box-shadow 100ms ease-in-out);

        &[nx-button="fab"] {
            min-width: 56px;
            max-width: 56px;
            min-height: 56px;
            max-height: 56px;
            border-radius: 50%;
            padding: 0;
            text-align: center;
        }

        &:hover:not([disabled]) {
            background-color: $nx-default-active-background;
        }

        &.nx-button-active {
            box-shadow: 0px 4px 8px 0 $nx-shadow-color;
        }

        &.nx-button-focus {
            background-color: $nx-default-active-background;
        }

        &[disabled], &:disabled {
            background: $nx-button-raised-disabled-background;
            color: $nx-button-raised-disabled-color;
            box-shadow: none;
        }

        .nx-ripple {
            background-color: $nx-default-ripple-color;
        }

        &.nx-primary {
            background-color: $nx-primary-background;
            color: $nx-primary-color;

            &:hover:not([disabled]) {
                background-color: $nx-primary-active-background;
            }

            &.nx-button-focus {
                background-color: $nx-primary-active-background;
            }

            .nx-ripple {
                background-color: $nx-primary-ripple-color;
            }
        }

        &.nx-warn {
            background-color: $nx-warn-background;
            color: $nx-warn-color;

            &:hover:not([disabled]) {
                background-color: $nx-warn-active-background;
            }

            &.nx-button-focus {
                background-color: $nx-warn-active-background;
            }

            .nx-ripple {
                background-color: $nx-warn-ripple-color;
            }
        }

        &.nx-danger {
            background-color: $nx-danger-background;
            color: $nx-danger-color;

            &:hover:not([disabled]) {
                background-color: $nx-danger-active-background;
            }

            &.nx-button-focus {
                background-color: $nx-danger-active-background;
            }

            .nx-ripple {
                background-color: $nx-danger-ripple-color;
            }
        }
    }
}

.nx-dark {
    [nx-button] {
        &[nx-button="flat"] {
            &:not(.nx-primary):not(.nx-warn):not(.nx-danger):not(:disabled):not([disabled]) {
                color: $nx-light-grey-color;
            }

            &:hover:not([disabled]) {
                background-color: $nx-theme-dark-button-flat-active-background;
            }

            &.nx-button-focus {
                background-color: $nx-theme-dark-button-flat-active-background;
            }

            .nx-ripple {
                background-color: $nx-theme-dark-button-flat-ripple-color;
            }
        }

        &[disabled], &:disabled {
            &[nx-button="flat"] {
                color: $nx-theme-dark-disabled-color;
            }

            &[nx-button="raised"], &[nx-button="fab"], &[nx-button=""] {
                background-color: $nx-theme-dark-disabled-background;
                color: $nx-theme-dark-disabled-color;
            }
        }
    }
}