@import '../_defaults.scss';

$jb-textbox-focused-color: $jb-primary !default;
$jb-textbox-label-color: #878787 !default;
$jb-textbox-error: $jb-error-color !default;
$jb-textbox-color: #1E1E1E !default;
$jb-textbox-label-ease: ease-in-out !default;
$jb-textbox-ease: 0.25s !default;
$marginUnfocused: 1px;
$borderUnfocused: $jb-textbox-label-color solid 1px;
$borderError: $jb-textbox-error solid 2px;
$labelTextSize: .85em;
$helperTextSize: .75em;
$labelTopFocused: -16px;

jb-textbox {
    display: block;
    position: relative;
    margin-top: 32px;

    jb-error {
        display: none;
    }

    jb-helper {
        display: block;
        padding-top: 8px;
        color: $jb-textbox-label-color;
        font-size: $helperTextSize;
    }

    input {
        border: none;
        background: transparent;
        border-bottom: $borderUnfocused;
        margin-bottom: $marginUnfocused;
        outline: none;
        padding-bottom: 8px;
        transition: border-color $jb-textbox-ease $jb-textbox-label-ease;
        color: $jb-textbox-color;
    }

    label {
        color: $jb-textbox-label-color;
        position: absolute;
        left: 0px;
        top: 0px;
        font-size: 1em;
        transition: all $jb-textbox-ease $jb-textbox-label-ease;
        cursor: text;
    }

    &.jb-has-value {
        label {
            top: $labelTopFocused;
            font-size: $labelTextSize;
        }
    }

    &.jb-focused {
        input {
            margin-bottom: 0px;
            border-bottom: solid $jb-textbox-focused-color 2px;
        }

        label {
            top: $labelTopFocused;
            font-size: $labelTextSize;
            color: $jb-textbox-focused-color;
        }

        &.jb-error {
            label {
                color: $jb-textbox-error;
            }
        }
    }

    &.jb-error {
        input {
            border-bottom: $borderError;
            margin-bottom: 0px;
        }

        jb-helper {
            color: $jb-textbox-error;
        }
    }
}