@import '../_defaults.scss';

$jb-textbox-active-color: $jb-primary !default;
$jb-textbox-label-color: $jb-dark-grey-color !default;
$jb-textbox-error: $jb-danger !default;
$jb-textbox-color: #1E1E1E !default;
$jb-textbox-transition-ease: ease-in-out !default;
$jb-textbox-transition-duration: 250ms !default;

$marginUnfocused: -1px;
$borderUnfocused: $jb-textbox-label-color solid 1px;
$borderError: $jb-textbox-error solid 2px;
$labelTextSize: .85em;
$helperTextSize: .75em;
$labelTopFocused: -16px;

@mixin getBorder($color) {
    border-bottom: $color solid 2px;
}

@mixin placeholderOpacity($opacity) {
    &:-moz-placeholder {opacity: $opacity}
    &:-ms-input-placeholder  {opacity: $opacity}
    &::-webkit-input-placeholder {opacity: $opacity}
    &::-moz-placeholder {opacity: $opacity}
    &::placeholder  {opacity: $opacity}
}

@mixin placeholderTransition($transition) {
    &:-moz-placeholder {@include transition($transition);}
    &:-ms-input-placeholder  {@include transition($transition);}
    &::-webkit-input-placeholder {@include transition($transition);}
    &::-moz-placeholder {@include transition($transition);}
    &::placeholder  {@include transition($transition);}
}

jb-textbox {
    display: block;
    position: relative;
    margin: 32px 8px 8px 8px;

    jb-error {
        display: none;
    }

    jb-helper {
        display: block;
        padding-top: 8px;
        color: $jb-textbox-label-color;
        font-size: $helperTextSize;
    }

    

    input {
        border: none;
        background: transparent;
        border-bottom: $borderUnfocused;
        margin-bottom: $marginUnfocused;
        outline: none;
        padding-bottom: 8px;
        color: $jb-textbox-color;
        @include placeholderOpacity(0);
        @include placeholderTransition(opacity $jb-textbox-transition-duration $jb-textbox-transition-ease);
    }

    .jb-input-border-bottom {
        display: inline-block;
        &:after {
            display: block;
            content: '';
            @include transform(scaleX(0));
            @include transition(transform $jb-textbox-transition-duration $jb-textbox-transition-ease);
            @include getBorder($jb-primary);
        }
    }

    label {
        color: $jb-textbox-label-color;
        position: absolute;
        left: 0px;
        top: 0px;
        font-size: 1em;
        @include transition(all $jb-textbox-transition-duration $jb-textbox-transition-ease);
        cursor: text;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
    }

    &.jb-has-value {
        label {
            top: $labelTopFocused;
            font-size: $labelTextSize;
        }
    }

    &.jb-input-focused {
        input {
            @include placeholderOpacity(1);
        }

        label {
            top: $labelTopFocused;
            font-size: $labelTextSize;
            color: $jb-textbox-active-color;
        }

        &.jb-input-error {
            label {
                color: $jb-textbox-error;
            }
        }

        .jb-input-border-bottom {
            &:after, &:before {
                @include transform(scaleX(1));
            }
        }
    }

    &.jb-input-error {
        .jb-input-border-bottom:after {
            @include getBorder($jb-textbox-error);
            @include transform(scaleX(1));
        }

        jb-helper {
            color: $jb-textbox-error;
        }
    }
}

.jb-dark {
    jb-textbox {
        input {
            color: $jb-light-grey-color;
        }
    }
}