@import '../_defaults.scss';

$jb-textbox-focused-color: $jb-primary !default;
$jb-textbox-label-color: $jb-dark-grey-color !default;
$jb-textbox-error: $jb-error-color !default;
$jb-textbox-color: #1E1E1E !default;
$jb-textbox-label-ease: ease-in-out !default;
$jb-textbox-ease: 0.25s !default;
$marginUnfocused: -1px;
$borderUnfocused: $jb-textbox-label-color solid 1px;
$borderError: $jb-textbox-error solid 2px;
$labelTextSize: .85em;
$helperTextSize: .75em;
$labelTopFocused: -16px;

@mixin getBorder($color) {
    border-bottom: $color solid 2px;
}

jb-textbox {
    display: block;
    position: relative;
    margin-top: 32px;

    jb-error {
        display: none;
    }

    jb-helper {
        display: block;
        padding-top: 8px;
        color: $jb-textbox-label-color;
        font-size: $helperTextSize;
    }

    input {
        border: none;
        background: transparent;
        border-bottom: $borderUnfocused;
        margin-bottom: $marginUnfocused;
        outline: none;
        padding-bottom: 8px;
        color: $jb-textbox-color;
    }

    .jb-input-border-bottom {
        display: inline-block;
        &:after {
            display: block;
            content: '';
            transform: scaleX(0);
            transition: transform 250ms ease-in-out;
            @include getBorder($jb-primary);
        }
    }

    label {
        color: $jb-textbox-label-color;
        position: absolute;
        left: 0px;
        top: 0px;
        font-size: 1em;
        transition: all $jb-textbox-ease $jb-textbox-label-ease;
        cursor: text;
    }

    &.jb-has-value {
        label {
            top: $labelTopFocused;
            font-size: $labelTextSize;
        }
    }

    &.jb-focused {
        label {
            top: $labelTopFocused;
            font-size: $labelTextSize;
            color: $jb-textbox-focused-color;
        }

        &.jb-error {
            label {
                color: $jb-textbox-error;
            }
        }

        .jb-input-border-bottom {
            &:after, &:before {
                transform: scaleX(1);
            }
        }
    }

    &.jb-error {
        .jb-input-border-bottom:after {
            @include getBorder($jb-textbox-error);
            transform: scaleX(1);
        }

        jb-helper {
            color: $jb-textbox-error;
        }
    }
}