@import '../_defaults.scss';

$nx-dialog-border: $nx-light-grey-color 1px solid;
$nx-dialog-padding: 20px;
$nx-dialog-transition: visibility 0.3s linear, opacity 0.3s linear;

.nx-dialog-dim {
    height:100%;
    width:100%;
    position:fixed;
    left:0;
    top:0;
    z-index:1 !important;
    background-color: rgba(0, 0, 0, 0.6);
    transition: $nx-dialog-transition;
    opacity:0;
    visibility: hidden;
}

nx-dialog {
    background: $nx-default-background;
    min-height: 6em;
    max-height: 25em;
    min-width: 15em;
    max-width: 40em;
    width: 80%;
    border: none;
    box-shadow: 0px 2px 4px #000;
    position: fixed;
    top: 20%;
    left:0;
    right:0;
    margin: 0 auto;
    z-index: 2;
    border-radius: 2px;
    transition: $nx-dialog-transition;
    opacity:0;
    visibility: hidden;

    nx-header, nx-body, nx-footer {
        display:block;
    }

    nx-header, nx-body {
        padding-top: $nx-dialog-padding;
        padding-right: $nx-dialog-padding;
        padding-left: $nx-dialog-padding;
    }

    &.nx-scrollable {
        nx-header {
            border-bottom: $nx-dialog-border;
            padding-bottom: $nx-dialog-padding;
        }
        nx-body {
            max-height: 14em;
            overflow-y: scroll;
            padding-bottom: $nx-dialog-padding;
        }
        nx-footer {
            border-top: $nx-dialog-border;
        }
    }

    nx-header {
        font-weight: bold;
        font-size: 1.1em;
    }

    nx-footer {
        text-align: right;
    }
}