$defaultColor: #2196F3;
$lightGrey: #878787;
$red: #FF1744;
$inputColor: #1E1E1E;
$ease: ease-in-out;
$duration: 0.25s;
$marginUnfocused: 1px;
$borderUnfocused: $lightGrey solid 1px;
$borderError: $red solid 2px;
$labelTextSize: .85em;
$helperTextSize: .75em;
$labelTopFocused: -16px;

jb-textbox {
    display: block;
    position: relative;
    margin-top: 32px;

    jb-error {
        display: none;
    }

    jb-helper {
        display: block;
        padding-top: 8px;
        color: $lightGrey;
        font-size: $helperTextSize;
    }

    input {
        border: none;
        background: transparent;
        border-bottom: $borderUnfocused;
        margin-bottom: $marginUnfocused;
        outline: none;
        padding-bottom: 8px;
        transition: border-color $duration $ease;
        color: $inputColor;
    }

    label {
        color: $lightGrey;
        position: absolute;
        left: 0px;
        top: 0px;
        font-size: 1em;
        transition: all $duration $ease;
    }

    &.jb-has-value {
        label {
            top: $labelTopFocused;
            font-size: $labelTextSize;
        }
    }

    &.jb-focused {
        input {
            margin-bottom: 0px;
            border-bottom: solid $defaultColor 2px;
        }

        label {
            top: $labelTopFocused;
            font-size: $labelTextSize;
            color: $defaultColor;
        }
    }

    &.jb-error {
        input {
            border-bottom: $borderError;
            margin-bottom: 0px;
        }

        jb-helper {
            color: $red;
        }
    }
}